# Refer to docs/CONFIGURATION.md for detailed documentation of all options

# Required Configuration
runs: tags.csv
sequences_dir: data
fastq_dir: fastq_pass, fastq_fail

## Note, after this point most settings may not need to be changed for a given analysis run

metadata: metadata
use_longest_orf_default: FALSE

# RCA Consensus 
peak_finder_settings: '23,3,27,2'
RCA_batch_size: 10000
RCA_consensus_minimum: 3
RCA_consensus_maximum: 20

# UMI Consensus
UMI_mismatches: 2
UMI_consensus_minimum: 1
UMI_consensus_maximum: 1
UMI_medaka_batches: 1
UMI_distribution_log_x: False
UMI_distribution_log_y: False

# Medaka
medaka_model: 'r104_e81_sup_variant_g610'
medaka_flags: '--quiet'
medaka_use_gpu: True

# alignment
alignment_minimap2_flags: '-a -A2 -B4 -O4 -E2 --end-bonus=30 --score-N=0 --secondary=no'
alignment_samtools_flags: ''

# Thread configuration
threads_medaka: 2
threads_alignment: 4
threads_samtools : 1
threads_demux: 4

# demultiplexing
demux_screen_no_group: True
demux_screen_failures: False
demux_threshold: 0.01
demux_max_references: 100

# NGmerge
merge_paired_end: False
NGmerge_flags: '-m 10'

# mutation analysis
mutation_analysis_quality_score_minimum: 5
sequence_length_threshold: 0.1
mutations_frequencies_raw: False
analyze_seqs_with_indels: True
mutations_frequencies_number_of_positions: 20
mutations_frequencies_heatmap: True
uniques_only: False
mut_stats_split_by_reference: False
# background: control

# Genotype analysis
highest_abundance_genotypes: 10
genotype_ID_alignments: 0
unique_genotypes_count_threshold: 5

# plotting and visualization
colormap: 'kbc_r'
distribution_x_range: False
distribution_y_range: False
distribution_split_by_reference: False
export_SVG: False

# plot enable/disable
plot_demux: True
plot_mutation-distribution: True
plot_mutation-frequencies: True
plot_hamming-distance-distribution: True
plot_mutation-distribution-violin: True
plot_genotypes2D: False

# enrichment analysis
enrichment_SE_filter: 0
enrichment_t0_filter: 0
enrichment_score_filter: False
enrichment_missing_replicates_filter: True
enrichment_reference_bc: 'all_barcodes'

# genotypes2D plotting
genotypes2D_plot_all: False
genotypes2D_plot_groups: False
genotypes2D_plot_downsample: 10000
genotypes2D_plot_AA: True
genotypes2D_plot_point_size_col: count
genotypes2D_plot_point_size_range: 30, 60
# genotypes2D_plot_point_color_col: NT_substitutions_count 

# hamming distance analysis
hamming_distance_distribution_downsample: 1000
hamming_distance_distribution_raw: False

# dashboard configuration
dashboard_input: TrpB-IE5
dashboard_port: 5007

# time series analysis
timepoints: timepoints.csv

# nanoplot integration
nanoplot: False
nanoplot_flags: '--plots dot'
